<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Display all product</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Description</th>
        <th>Producer</th>
        <th>Action</th>
    </tr>
    <tr  th:each="product : ${products}" th:object="${product}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{cost}"></td>
        <td th:text="*{description}"></td>
        <td th:text="*{producer}"></td>
        <td>
            <a th:href="@{/product/view/(id=${product.id})}">View</a>
        </td>
    </tr>

</table>
</body>
</html>