


<!-- Carousel Start -->
<div class="container-fluid mb-3">
  <div class="row px-xl-5">
    <div class="col-lg-8">
      <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#header-carousel" data-slide-to="1"></li>
          <li data-target="#header-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item position-relative active" style="height: 430px;">
            <img class="position-absolute w-100 h-100"
                 src="http://static.nhanam.com.vn/thumb/0x0/crop/Features/Images/2019/4/25/6HHNAJ7E.jpg"
                 style="object-fit: cover;">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 700px;">


                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                   href="#">Mua ngay</a>
              </div>
            </div>
          </div>
          <div class="carousel-item position-relative" style="height: 430px;">
            <img class="position-absolute w-100 h-100"
                 src="http://static.nhanam.com.vn/thumb/0x0/crop/Features/Images/2018/9/13/OJ4M48Q3.jpg"
                 style="object-fit: cover;">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 700px;">
                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                   href="#">Mua ngay</a>
              </div>
            </div>
          </div>
          <div class="carousel-item position-relative" style="height: 430px;">
            <img class="position-absolute w-100 h-100"
                 src="http://static.nhanam.com.vn/thumb/0x0/crop/Features/Images/2018/9/13/3XSUDF44.jpg"
                 style="object-fit: cover;">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 700px;">
                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                   href="#">Mua ngay</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid"
             src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2022/6/21/25TXXGOL.jpg" alt="">
        <div class="offer-text">
          <h6 class="text-white text-uppercase">Giảm 20%</h6>

          <a href="" class="btn btn-primary">Mua ngay</a>
        </div>
      </div>
      <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid"
             src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2022/5/12/9YLI42GM.jpg" alt="">
        <div class="offer-text">
          <h6 class="text-white text-uppercase">Giảm 20%</h6>
          <a href="" class="btn btn-primary">Mua ngay</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sách đang khuyến mãi</span>
  </h2>
  <div class="row px-xl-5">
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100"
               src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/11/14/2QAYBLJW.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>

            <a class="btn btn-outline-dark btn-square" routerLink="/detail"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">Muốn làm nữ hoàng đừng yêu như hầu gái</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>100.000 VND</h5>
            <h6 class="text-muted ml-2">
              <del>200.000 VND</del>
            </h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100"
               src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/11/14/2QAYBLJW.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>

            <a class="btn btn-outline-dark btn-square" routerLink="/detail"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">Muốn làm nữ hoàng đừng yêu như hầu gái</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>100.000 VND</h5>
            <h6 class="text-muted ml-2">
              <del>200.000 VND</del>
            </h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100"
               src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/11/14/2QAYBLJW.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>

            <a class="btn btn-outline-dark btn-square" routerLink="/detail"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">Muốn làm nữ hoàng đừng yêu như hầu gái</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>100.000 VND</h5>
            <h6 class="text-muted ml-2">
              <del>200.000 VND</del>
            </h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100"
               src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/11/14/2QAYBLJW.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>

            <a class="btn btn-outline-dark btn-square" routerLink="/detail"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">Muốn làm nữ hoàng đừng yêu như hầu gái</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>100.000 VND</h5>
            <h6 class="text-muted ml-2">
              <del>200.000 VND</del>
            </h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row px-xl-5">
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100"
               src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/11/14/C3F24YNQ.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>

            <a class="btn btn-outline-dark btn-square" routerLink="/detail"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">Ký túc xá phòng 307</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>300.000 VND</h5>
            <h6 class="text-muted ml-2">
              <del>400.000 VND</del>
            </h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100"
               src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/11/14/C3F24YNQ.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>

            <a class="btn btn-outline-dark btn-square" routerLink="/detail"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">Ký túc xá phòng 307</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>300.000 VND</h5>
            <h6 class="text-muted ml-2">
              <del>400.000 VND</del>
            </h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100"
               src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/11/14/C3F24YNQ.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>

            <a class="btn btn-outline-dark btn-square" routerLink="/detail"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">Ký túc xá phòng 307</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>300.000 VND</h5>
            <h6 class="text-muted ml-2">
              <del>400.000 VND</del>
            </h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100"
               src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2019/11/14/C3F24YNQ.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>

            <a class="btn btn-outline-dark btn-square" routerLink="/detail"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">Ký túc xá phòng 307</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>300.000 VND</h5>
            <h6 class="text-muted ml-2">
              <del>400.000 VND</del>
            </h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Products End -->


<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sách bán chạy</span>
  </h2>
  <div class="row px-xl-5">
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100"
               src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2018/6/21/NQK26Y4Y.jpg"
               alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>

            <a class="btn btn-outline-dark btn-square" routerLink="/detail"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">Sức mạnh của người mẹ Nhật</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>50.000 VND</h5>
            <h6 class="text-muted ml-2">
              <del>200.000 VND</del>
            </h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100"
               src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2017/12/1/CFGRMEF1.jpg"
               alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>

            <a class="btn btn-outline-dark btn-square" routerLink="/detail"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">Các loài quý hiếm vùng Trường Sơn</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>300.000 VND</h5>
            <h6 class="text-muted ml-2">
              <del>500.000 VND</del>
            </h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100"
               src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2017/7/18/DD59KQCL.jpg"
               alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>

            <a class="btn btn-outline-dark btn-square" routerLink="/detail"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">Cuốn sác lớn rực rỡ về xe cộ</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5>
            <h6 class="text-muted ml-2">
              <del>$123.00</del>
            </h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100"
               src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2017/7/18/7Q2DXXWG.jpg"
               alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>

            <a class="btn btn-outline-dark btn-square" routerLink="/detail"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5>
            <h6 class="text-muted ml-2">
              <del>$123.00</del>
            </h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100"
               src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2017/4/7/BB8UCWDD.jpg"
               alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>

            <a class="btn btn-outline-dark btn-square" routerLink="/detail"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5>
            <h6 class="text-muted ml-2">
              <del>$123.00</del>
            </h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100"
               src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2017/7/18/7CMX1X9R.jpg"
               alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>

            <a class="btn btn-outline-dark btn-square" routerLink="/detail"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5>
            <h6 class="text-muted ml-2">
              <del>$123.00</del>
            </h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100"
               src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2017/7/18/8Z2YB493.jpg"
               alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>

            <a class="btn btn-outline-dark btn-square" routerLink="/detail"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5>
            <h6 class="text-muted ml-2">
              <del>$123.00</del>
            </h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100"
               src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2017/5/5/4JWRW7I9.jpg"
               alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" routerLink="/cart"><i class="fa fa-shopping-cart"></i></a>

            <a class="btn btn-outline-dark btn-square" routerLink="/detail"><i class="fa fa-info-circle"></i></a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate" href="">Product Name Goes Here</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5>
            <h6 class="text-muted ml-2">
              <del>$123.00</del>
            </h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <nav aria-label="Page navigation example">
    <ul class="pagination d-flex  justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
