<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email" formControlName="email">
  </p>
  <div *ngIf="!loginForm.controls.email.valid && (loginForm.controls.email.dirty ||loginForm.controls.email.touched)">
    <div [hidden]="!loginForm.controls.email.errors.required" style="color: red">
      email is required
    </div>
    <div [hidden]="!loginForm.controls.email.errors.email"style="color: red">
      invalid email
    </div>
  </div>


  <p>
    <label for="password">Password </label>
    <input type="password" id="password" name="password" formControlName="password">
  </p>
  <div *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty ||loginForm.controls.password.touched)">
    <div [hidden]="!loginForm.controls.password.errors.required"style="color: red">
      password is required
    </div>
    <div [hidden]="!loginForm.controls.password.errors.minlength"style="color: red">
      min length is 6
    </div>
  </div>
  <p>
    <button type="submit"  >Submit</button>
  </p>


</form>

