<!-- Login form Start -->
<div class="container-fluid pt-5 pb-3">
  <div style="display: block;padding: 0;margin: 0;">
    <div style="background: repeat scroll 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 4px #444;
    margin: 10px auto;
    padding: 30px;
    width: 940px;
    min-height: 400px;">
      <h2>Đăng nhập</h2>
<!--      <form>-->
        <div >
          <label>Tên đăng nhập</label><br>
          <input type="text" name="" required="">

        </div>
        <div >
          <label >Mật khẩu</label><br>
          <input type="password" name="" required="">
        </div><br>
        <button type="submit" style="background-color: #FFD333;border: 1px solid #FFD333; padding: 5px 10px; font-weight: bolder" >Đăng nhập</button>
<!--      </form>-->
      <p>Chưa có tài khoản? hãy
        <a href=""style="background-color: #FFD333;padding: 5px 10px"><strong style="color: black">Đăng ký</strong></a>hoặc <a href=""style=" background: linear-gradient(#476fc2,#314f8e);;padding: 5px 10px"><strong style="color: white">Đăng nhập qua Facebook</strong></a></p>
      <div style="margin-top: 40px">
        <h4>Quên mật khẩu</h4>
<!--        <form>-->
          <label>Email</label><br>
          <input type="text" name="email" value=""><br><br>
          <button type="submit" style="background-color: #FFD333;border: 1px solid #FFD333; padding: 5px 10px; font-weight: bolder" >Lấy lại mật khẩu</button>
<!--        </form>-->

      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
