<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>
<body>
<a href="/">Back to library</a>
</form>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Status</th>
        <th scope="col">Library ID</th>
        <th scope="col">Code</th>


    </tr>
    </thead>
    <tbody>
    <tr >
        <td scope="row" th:text="${book.bookId}"></td>
        <td scope="row" th:text="${book.title}"></td>
        <td scope="row" th:text="${book.author}"></td>
        <td scope="row" th:text="${book.status? true:false}"></td>
        <td scope="row" th:text="${book.library.id}"></td>
        <td scope="row" th:text="${book.getBookId()}"></td>
    </tr>
    </tbody>
</table>
<!--<a th:href="@{'/'(page=${books.number - 1})}" th:if="${books.hasPrevious()}">Previous</a>-->
<!--<span th:text="${books.number + 1}"></span>/<span th:text="${books.totalPages}"></span>-->
<!--<a th:href="@{'/'(page=${books.number + 1})}" th:if="${books.hasNext()}">Next</a>-->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>